html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #ffffff;
}
